.search-box {
  position: fixed; /* or absolute */
  top: 20px;
  left: 20px;
}

.search-box > input {
  height: 30px;
  width: 230px;
  border-radius: 4px;
  padding: 0 5px;
}

.result-box {
  position: fixed;
  top: 60px;
  left: 20px;
  box-shadow: 2px 0 6px #000;
  font-family: "Times New Roman", Times, serif;
  background-color: #fff;
  color: rgb(32, 32, 32);
  padding: 7px 5px;
  border-radius: 4px;
  width: 230px;

  /* padding-top: 50vh; */
}

.React-Globe {
  /* position: fixed;  */
  top: 5%;
  height: 99vh;
  width: 99vw;
  padding: 0px;
  margin: 0px;
}
